<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TO BE COMPLETED">
    <meta name="keywords" content="TO BE COMPLETED">
    <meta name="author" content="CÉcile Gaudron">
    <title>TO BE COMPLETED</title>
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
</head>
<body>
    <h1>
        Bienvenue ! <i class="fa-solid fa-train"></i>
      </h1>
      <div class="overlay"></div>
      
      <div class="container-fluid">
        <div class="row">
          <div>
            <div class="row">
              <!-- Block tracking save form -->
              <div class="form-group">
                <form method="POST" action="{% url 'hangman_u1' %}">
                  <!-- Security tocken -->
                  {% csrf_token %} {{ form.as_p }}
                  <div class="center-content">
                    <button type="submit" value="Submit" class="btn btn-dark btn-detail">Jouer !</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>