{% extends "base.html" %} {% load static %} {% block content %}

<section class="container mx-auto">
  <div class="overlay"></div>

  <div class="container mx-auto title_line">
    <div class="row">
      <div class="col-10">
        <h1 class="line">"Rathaus Spandau - Rudow"</h1>
      </div>
      <div class="col-4 ubahn_title u7">
        <h2 class="title text-center">U7</h2>
      </div>
    </div>
  </div>
  <div class="container mx-auto">
    <div class="row">
      <div class="col-12">
        <p>
          Die U7 der U-Bahn hat 40 Stationen. Mit einer Länge von 31,8 km ist sie die längste Berliner U-Bahn-Linie und die längste unterirdische U-Bahn-Linie in Deutschland.
        </p>
      </div>
    </div>
  </div>
  <div>
  <div class="container mx-auto">
    <div class="row">
      <div class="col-12 text-center">
        <p class="station">Mysteriöse Station:</p>
      </div>
      <div class="col-12 text-center">
        <p class="guessed_word">{{ guessed_word }}</p>
      </div>
    </div>
  </div>
  <div>
    <div class="text-center">
      <form action="{% url 'game_view' 'u7' %}" method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button class="game_button" type="Submit">Bestätigen</button>
      </form>
    </div>
  </div>
  <div class="container mx-auto text-center info">
    <div class="row">
      <div class="message col-12">
        <p>{% if message %} {{ message }} {% endif %}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-centers">
        <p>Bereits verwendete Buchstaben: <strong>{{ wrong_letters|join:", " }}</strong></p>
      </div>
      <div class="col-12 lives text-center">
        <p><strong>{{ lives }} </strong> / 6 Versuche</p>
      </div>
  </div>
  <div class="container mx-auto text-center">
    <div class="row">
      <div class="col-md-6">
        <form action="{% url 'new_game_view' 'u7' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="game_button new">Erneut spielen</button>
        </form>
      </div>
      <div class="col-md-6">
        <a href="{% url 'index' %}" class="game_button quit">Verlassen</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
