{% extends "base.html" %}
{% load static %}

{% block content %}

<section>
  
  <div class="overlay"></div>

  <div class="container mx-auto">
    <div class="row mb-5">
      <div class="col-6 col-md-2">
        <a href="{% url 'game_view' 'u1' %}" class="ubahn u1" id="execute-link">U1</a>
      </div>
      <div class="col-6 col-md-2 pt-2">
        <a href="{% url 'game_view' 'u2' %}" class="ubahn u2">U2</a>
      </div>
      <div class="col-6 col-md-2 pt-2">
        <a href="{% url 'game_view' 'u3' %}" class="ubahn u3">U3</a>
      </div>
      <div class="col-6 col-md-2 pt-2">
        <a href="{% url 'game_view' 'u4' %}" class="ubahn u4">U4</a>
      </div>
      <div class="col-6 col-md-2 pt-2">
        <a href="{% url 'game_view' 'u5' %}" class="ubahn u5">U5</a>
      </div>
      <div class="col-6 col-md-2 pt-2">
        <a href="{% url 'game_view' 'u6' %}" class="ubahn u6">U6</a>
      </div>
      <div class="col-6 col-md-2 pt-2">
        <a href="{% url 'game_view' 'u7' %}" class="ubahn u7">U7</a>
      </div>
      <div class="col-6 col-md-2 pt-2">
        <a href="{% url 'game_view' 'u8' %}" class="ubahn u8">U8</a>
      </div>
      <div class="col-6 col-md-2 pt-2">
        <a href="{% url 'game_view' 'u9' %}" class="ubahn u9">U9</a>
      </div>
      <div class="col-8 col-md-4 pt-2">
        <a href="{% url 'rules' %}" class="game_button rules">Regeln</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block postloadjs %}

{% endblock %}