{% extends "base.html" %}
{% load static %}

{% block content %}

<section>
  
  <div class="overlay"></div>

  <div class="container mx-auto">
    <div class="row">
      <div class="col-2">
        <a href="{% url 'hangman_u1' %}" class="ubahn u1">U1</a>
      </div>
      <div class="col-2">
        <a href="{% url 'index' %}" class="ubahn u2">U2</a>
      </div>
      <div class="col-2">
        <a href="{% url 'index' %}" class="ubahn u3">U3</a>
      </div>
    </div>
    <div class="row">"
      <div class="col-2">
        <a href="{% url 'index' %}" class="ubahn u4">U4</a>
      </div>
      <div class="col-2">
        <a href="{% url 'index' %}" class="ubahn u5">U5</a>
      </div>
      <div class="col-2">
        <a href="{% url 'index' %}" class="ubahn u6">U6</a>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <a href="{% url 'index' %}" class="ubahn u7">U7</a>
      </div>
      <div class="col-2">
        <a href="{% url 'index' %}" class="ubahn u8">U8</a>
      </div>
      <div class="col-2">
        <a href="{% url 'index' %}" class="ubahn u9">U9</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}